@model IEnumerable<LojaLegos.Models.Armazem>

@{
    ViewData["Title"] = "Index";
}
<div style="width: 80%; margin: auto; margin-top: 40px;">
    <h1>Lista de Armazéns</h1>
    <br />
    @if (User.IsInRole("Gestor"))
    {
        <p>
            <a asp-action="Create">Adicionar novo armazém</a>
        </p>
    }
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                Responsável
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsavel.Nome)
            </td>
            <td>     
            @if (User.IsInRole("Gestor")) {
                 <text>
                 <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                 <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                 <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                 </text>
                    }
            </td>
        </tr>

}
    </tbody>
</table>

</div>
