@model LojaLegos.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<div style="width : 80% ; margin:auto; margin-top:40px;">
    <h3>Detalhes do Cliente</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Primeiro Nome:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimeiroNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apelido):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morada):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class = "col-sm-2">
            Código Postal:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.País):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.País)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            N.º de Telemóvel:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrTelemovel)
        </dd>
        <dt class = "col-sm-2">
            N.º de Contribuinte:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrContribuinte)
        </dd>
        <dd><br /></dd>
        <div>
            @if (User.IsInRole("Cliente")) {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
            }
            <a asp-action="Index">Voltar</a>
        </div>
    </dl>
</div>

