@model List<LojaLegos.Models.Artigo>
@{
    ViewData["Title"] = "Carrinho de Compras";
}

<div style="width: 50%; margin: auto;">
    <h1 style="text-align: left;">Carrinho de Compras</h1>
   <table>
    <tr>
        <th>Artigo</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th></th>
    </tr>

    @if (Model != null && Model.Count > 0)
    {
        decimal precoTotal = 0;
        for (var i = 0; i < Model.Count; i++)
        {
            var artigo = Model[i];
            var index = i;

            <tr id="linha-@artigo.Id" data-artigo-id="@artigo.Id">
                <td>
                    <img src="~/Imagens/@Html.DisplayFor(modelItem => artigo.Foto)" alt="@artigo.Nome" style="width: 100px; height: 100px;" />
                    @artigo.Nome
                </td>
                <td class="preco">
                    @artigo.Preco.ToString("C2")
                </td>
                <td>
                    <input type="number" class="quantidade" id="Quantidade-@artigo.Id" name="Quantidade" min="1" value="1" onchange="atualizarPrecoTotal()" />
                </td>
                <td>
                    <button onclick="removerArtigo('@artigo.Id')" style="background-color:white; width: 26px; height: 26px; padding: 0px;border: 0px;">
                         <img src="~/Imagens/cruz.png" style="width: 100%; height: 100%;" />
                         
                    </button>
                </td>
            </tr>

            precoTotal += artigo.Preco;
            TempData["precoTotal"] = precoTotal.ToString();
            ViewBag.precoTotal = precoTotal.ToString();
        }
        <tr>
            <td colspan="4">
                <p>Preço Total: <span id="precoTotal">@precoTotal.ToString("C2")</span></p>
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td colspan="4">
                <p>Não há artigos no carrinho.</p>
            </td>
        </tr>
    }
</table>

   <form id="formPagamento" method="post" action="@Url.Action("Create", "Encomendas")" onsubmit="obterArtigosQuantidades()">
        @Html.AntiForgeryToken()

        <input type="hidden" name="artigosQuantidades" id="artigosQuantidades" value="" />

        <button type="submit" style="width: 100%; border-radius: 12px; border: 1px white; padding: 5px 0px; background-color: rgb(253, 128, 36); margin-bottom: 0px; color: white;">
            <h3 style="margin-bottom: 0px;">Encomendar</h3>
        </button>
    </form>
</div>

<script>
   function obterArtigosQuantidades() {
    var linhas = document.querySelectorAll("[data-artigo-id]");

    var quantidades = Array.from(linhas).map(function (linha) {
        var artigoId = linha.getAttribute("data-artigo-id");
        var quantidadeInput = linha.querySelector(".quantidade");
        var quantidade = quantidadeInput ? quantidadeInput.value : 1;
        return artigoId + ";" + quantidade;
    });

    var artigosQuantidades = quantidades.join("|");

    document.getElementById("artigosQuantidades").value = artigosQuantidades;
    alert(artigosQuantidades)
  
    return true; // Permitir que o formulário seja enviado
}

    function obterValorCookie(nome) {
        var cookies = document.cookie.split("; ");
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var cookieSplit = cookie.split("=");
            var cookieNome = decodeURIComponent(cookieSplit[0]);
            var cookieValor = decodeURIComponent(cookieSplit[1]);
            if (cookieNome === nome) {
                return cookieValor;
            }
        }
        
        return "";
    }

   function removerArtigo(artigoId) {
    
    var linha = document.getElementById("linha-" + artigoId);
    linha.parentNode.removeChild(linha);
    atualizarCookie();
    atualizarPrecoTotal();
    verificarCarrinhoVazio();
    
}

   function atualizarCookie() {
    var ids = [];
    var rows = document.getElementsByTagName("tr");
    for (var i = 0; i < rows.length; i++) {
        var linha = rows[i];
        var artigoId = linha.getAttribute("data-artigo-id");
        if (artigoId) {
            var quantidadeInput = document.getElementById("Quantidade-" + artigoId);
            var quantidade = quantidadeInput ? quantidadeInput.value : 1;
            if (quantidade > 0) {
                ids.push(artigoId);
            }
        }
    }

    var cookieValue = ids.length > 0 ? ids.join("-") + "-" : "";
    if (cookieValue) {
        document.cookie = "carrinho=" + cookieValue + "; path=/";
    } else {
        document.cookie = "carrinho=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }
    location.reload(); // Recarrega a página para atualizar o carrinho e o preço total
}

    function atualizarPrecoTotal() {
        var precoTotal = 0;
        var rows = document.getElementsByTagName("tr");
        for (var i = 0; i < rows.length; i++) {
            var id = rows[i].id;
            if (id.startsWith("linha-")) {
                var idSplit = id.split("-");
                var artigoId = idSplit[idSplit.length - 1];
                var quantidadeInput = document.querySelector("#linha-" + artigoId + " .quantidade");
                var quantidade = quantidadeInput ? quantidadeInput.value : 1;
                var precoValue = document.querySelector("#linha-" + artigoId + " .preco").textContent;
                var preco = parseFloat(precoValue.replace(',', '.').replace(/[^\d.-]/g, ''));
                precoTotal += quantidade * preco;
            }
        }
        document.getElementById("precoTotal").textContent = precoTotal.toLocaleString("pt-PT", { style: "currency", currency: "EUR" });
    }

    function verificarCarrinhoVazio() {
        var rows = document.getElementsByTagName("tr");
        var carrinhoVazio = true;
        for (var i = 0; i < rows.length; i++) {
            var id = rows[i].id;
            if (id.startsWith("linha-")) {
                carrinhoVazio = false;
                break;
            }
        }

        var precoTotalElement = document.getElementById("precoTotal");
        var mensagemCarrinhoVazioElement = document.getElementById("mensagemCarrinhoVazio");
        if (carrinhoVazio) {
            if (precoTotalElement) {
                precoTotalElement.textContent = "";
            }
            if (mensagemCarrinhoVazioElement) {
                mensagemCarrinhoVazioElement.style.display = "block";
            }
        } else {
            if (mensagemCarrinhoVazioElement) {
                mensagemCarrinhoVazioElement.style.display = "none";
            }
        }
    }

    function obterArtigosCarrinho() {
    var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)carrinho\s*\=\s*([^;]*).*$)|^.*$/, "$1");
    if (cookieValue) {
        cookieValue = decodeURIComponent(cookieValue);
        var numeros = JSON.parse(cookieValue);
        return numeros;
    }
    return [];
}
</script>





