@model LojaLegos.Models.Artigo

@{
    ViewData["Title"] = "Delete";
}
<div style="width : 80% ; margin:auto; margin-top:40px;"> 
<h3>Tem a certeza que deseja eliminar este artigo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            N.º de Artigo:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            Preço:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            N.º de Peças:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrPecas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalhes):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalhes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            ID do Armazém:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Armazem.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
</div>