@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model LojaLegos.Models.Artigo

@{
    ViewData["Title"] = "Details";
}
<script>

function despinta(x) {
  x.style.backgroundColor = "white";
  x.style.color = "rgb(253, 120, 36)";
  x.style.border = "5px rgb(253, 120, 36)";
}

function pinta(x) {
  x.style.backgroundColor = "rgb(253, 120, 36) ";
  x.style.color = "white";
  x.style.border = "5px white";
}

function f1(elem) {
    
  $.post("/Artigos/CoockieCarrinhoCompras", { num : elem });
}



</script>


    <div class="pai" style="padding-top:50px;margin-bottom:50px;">
        <div class="Imag" style="width: 55%;float:left;padding-left:50px;padding-bottom:250px;">
            <img src="~/Imagens/@Html.DisplayFor(model => model.Foto)" class="card-img-top" alt="..." style="border:1px; border: 1px solid #000000;" >
        </div>
        <div class="detalhes" style="width: 45%; float:left; ">
            <h2 style="text-align:center;">  @Html.DisplayFor(model => model.Nome)</h2>
            <br />
            
            <div style="padding-left:150px;">
                <div style= "width:80%">
                    <br />
                    <h4 style="padding-left:20px;">N.º  @Html.DisplayFor(model => model.Nr) </h4>
                    <br />
                    <h4 style="padding-left:20px;">Peças: @Html.DisplayFor(model => model.NrPecas) </h4>
                    <br />
                    <br />
                    <h3 style="padding-left:20px;">Preço unitário: @Html.DisplayFor(model => model.Preco)€</h3>
                    <br />
                @if(Int64.Parse(Model.Stock) > 0)
                {
                    <h5 style="padding-left:20px;color:green"><img style="align;padding-bottom:4px;" src="~/Imagens/accept.png">Produto disponível</h5>
                }
                else
                {
                    <h5 style="padding-left:20px;">Produto indisponível</h5>
                }
                <br />
                @if (SignInManager.IsSignedIn(User)){
                    <button  onclick="    f1(@Html.DisplayFor(model => model.Id)); alert('adicionado ao carrinho')"  style="width:100%;border-radius: 12px; border:1px white; padding:5px 0px ;background-color:rgb(253, 128, 36);margin-bottom:0px;color:white;" onmouseover="despinta(this)" onmouseout="pinta(this)">

                        <h3 style="margin-bottom: 0px;"> <img style="align;padding-bottom:4px;padding-left:5px;" src="~/Imagens/shopping-cart.png"> Adicionar ao carrinho</h3>
                    </button>
                }
                else
                {
                  <a style="width:100%;border:0px;border-radius: 12px; padding:5px 0px ;background-color:rgb(253, 128, 36)!important;margin-bottom:0px;color:white;" onmouseover="despinta(this)" onmouseout="pinta(this)">
                        <h3 style="margin-bottom: 0px;"> <img style="align;padding-bottom:4px;padding-left:5px;" src="~/Imagens/shopping-cart.png"> Adicionar ao carrinho</h3>
                    </a>
                     
                }
            </div>
                
            </div>

         
            
    </div>
        </div>

 

   