@using LojaLegos.Models;
@model LojaLegos.Models.Encomenda

<style>


    table.table {
        width: 100%;
        border-collapse: collapse;
    }

        table.table th,
        table.table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        table.table th {
            background-color: #f2f2f2;
        }

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }


</style>



<div name="pai" style="width:80%; margin:auto ; margin-top:40px;" >
    <div>
        <h3>Detalhes</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Referência :
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                Total :
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Total)€
            </dd>
            <dt class="col-sm-2">
                Data :
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Data)
            </dd>
            <dt class="col-sm-2">
                Estado :
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-2">
                Cliente :
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Cliente.PrimeiroNome) @Html.DisplayFor(model => model.Cliente.Apelido)
            </dd>
            <dd><br /></dd>
            <dd class="col-sm-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID do Artigo</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var artigoEncomenda in Model.ArtigoEncomendas.Where(ae => ae.EncomendaId == Model.Id))
                        {
                            <tr>
                                <td>@artigoEncomenda.ArtigoId</td>
                                <td>@artigoEncomenda.Quantidade</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
    <div>
        
        <a asp-action="Index">Voltar</a>
    </div>
</div>